@model IList<Product>
@{
    ViewData["Title"] = "Index";
}



    <section class="centeredPanel ">
        <h2><strong>Solar System Geek Gift Shop</strong></h2>
        <table class="store">
            <tbody>
                @foreach (Product product in Model)
                {
                    <tr>
                            <td><a asp-controller="store" asp-action="detail" asp-route-id="@product.Id"><img width="200px" src="~/images/@product.ImageName"></a></td>
                            <td>
                                <p><strong>@product.Name</strong></p>
                                <p>@product.Price.ToString("C")</p>
                            </td>
                       
                    </tr>

                }
            </tbody>
        </table>
    </section>