@model AlienTravelModel
@{
    ViewData["Title"] = "Alien Travel Result";
    double travelTime = Model.GetTravelTime();
}

    <section id="calculatorResult" class="centeredPanel">
        <table>
            <tbody>
                <tr>
                    <td><img src="~/images/@(Model.Planet).jpg" width="200"/></td>
                    <td><p>Traveling by @Model.TransportMode you will reach @Model.Planet in @travelTime years. You will be @Model.ArrivalAge(travelTime) years old.</p></td>

                </tr>

            </tbody>


        </table>

        
        

    </section>