@model  AlienWeightModel

@{
    ViewData["Title"] = "Alien Weight Result";
}


<section id="calculatorResult" class="centeredPanel">

   
    <img src="~/images/@(Model.Planet).jpg" /> 
    <p>If you are @Model.NumberToConvert on planet Earth, you would weigh @Model.GetConvertedValue() lbs. on  @Model.Planet.</p>

</section>