@model AlienWeightModel
@{
    ViewData["Title"] = "Alien Weight";
}

<section class="centeredPanel">
    <h2>Alien Weight Calculator</h2>
     <form asp-controller="Calculators" asp-action="AlienWeightResult" method="get">
     
         <div>
             <label asp-for="Planet"></label>
             <select asp-for="Planet" asp-items="AlienWeightModel.planets"></select>
         </div>

         <div>
             <label asp-for="NumberToConvert"></label>
             <input type ="number" asp-for="NumberToConvert" />
         </div>

         <div>
             <input type ="submit" value="Calculate Weight" />
         </div>
     
     </form>


</section>