@model ForumPost

@{
    ViewData["Title"] = "NewPost";
}
<section class="centeredPanel">
    <h2>New Geek Post</h2>

    <form asp-controller="Forum" asp-action="NewPost" method="post">


        <div>
            <label asp-for="Username"></label>
            <input type="text" asp-for="Username" placeholder="Enter your username"/>
            <span asp-validation-for="Username"></span>
        </div>

        <div>
            <label asp-for="Subject"></label>
            <input type="text" asp-for="Subject" placeholder="Enter a subject" />
            <span asp-validation-for="Subject"></span>
        </div>

        <div>
            <label asp-for="Message"></label>
            <input type="text" asp-for="Message" placeholder="Enter your message" />
            <span asp-validation-for="Message"></span>
        </div>


        <div>
            <input type="submit" value="Submit!" />
        </div>

    </form>
</section>



